/* style Shead */
 /* * {
  padding: 0;
  margin: 0; */ */
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* bannar releted style */
.bannar {
  background-image: url('./images/banner/banner3.png');
  max-width:100%;
  background-size: cover;
  /* height: 808px; */
  flex-shrink: 0;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}

.bannar-content {
  text-align: right;
  padding: 216px 230px;
}

.bannar-heading {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  line-height: normal;
}

.bannar-discription {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  border: 0;
  padding: 20px;
  margin: 32px;
}
/* main section releted style */

.section-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

.section-hiligh{
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.section-heading{
  text-align: left;
}

.section-chek-mark{
  color:  #444343;
font-size: 16px;
font-weight: 400;
}
.section-skill-headline{
  color: #151414;
text-align: center;
font-size: 40px;
font-weight: 700px;
}
.section-skill-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 250px 200px 230px  ;
  background-size: cover;
}

.content-divition{
  background-image: url('./images/watch.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right:;
  padding :  ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}
/* fotter releted style */
 
.footer{
  width: 1600px;
  height: 577px;
  background: var(--dark-01, #151414);
   margin-top: 130px;
   /* display: flex;
  justify-content: space-around;
  align-items: center;
   
  margin-top: 130px;  */

}

.footer-conteinar{
  display: flex;
  justify-content: space-around ;
  align-items: center;
  padding: 130px;
}
.footer-dis{
  text-align:center;
  color:#FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
text-align: left;
}

.fopter-heading{
  color: #F8F8F8;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h6{
  color: #FFF;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
h3{
  color: #FFF;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
form, input {
  border-radius: 8px;
border: 1px solid #FFF;
border: 0;
padding: 21px ;
}
.primary{
  border-radius: 8px;
  background: #005FAC;
  border: 0;
  padding: 20px;
  margin: 32px;
}